USE [cReport]
GO
INSERT [dbo].[SOL_REGIONS] ([SOLID], [ECNAME], [ECADDRESS], [STATE], [REGION]) VALUES (N'005', N'7 DUGBE ROAD, IBADAN', N'7 Adekunle Fajuyi Road, Dugbe, Ibadan, Oyo State.', N'Oyo', N'South West')
INSERT [dbo].[SOL_REGIONS] ([SOLID], [ECNAME], [ECADDRESS], [STATE], [REGION]) VALUES (N'082', N'OSOGBO,STATION RD', N'165 Station Road Oshogbo', N'Osun', N'South West')
INSERT [dbo].[SOL_REGIONS] ([SOLID], [ECNAME], [ECADDRESS], [STATE], [REGION]) VALUES (N'112', N'ADO-EKITI,FAJUYI R/ABT', N'Fajuyi Roundabout Ado- Ekiti', N'Ekiti', N'South West')
GO

create view  dbo.post_office_transactions as select
                                                 a.post_tran_id as [Id],
b.pan,
a.datetime_req as [RequestDate],
a.from_account_id as [AccountNumber],
a.datetime_tran_local as [DateLocal],
a.rsp_code_rsp as [ResponseCode],
a.retrieval_reference_nr as [RetrievalReferenceNumberPostilion],
a.system_trace_audit_nr as [STAN],
a.tran_type as [trantype],
'AmountPostilion' = ((a.tran_amount_rsp)/100),
b.terminal_id as [TerminalIdPostilion],
a.message_type as [MessageType],
case substring(b.pan,1,6)
when '519615' then 'FCMB'
when '539945' then 'Skye Bank'
when '528649' then 'Stanbic IBTC Bank'
when '521090' then 'United Bank for Africa'
when '551609' then 'Unity Bank'
when '559453' then 'Wema Bank'
when '506100' then 'Abbey'
when '539983' then 'GTBank'
when '506104' then 'Access Bank'
when '506128' then 'Main street'
when '506121' then 'ASO Savings and Loans'
when '506118' then 'Ecobank'
when '506125' then 'Equitorial Trust Bank'
when '506108' then 'FCMB'
when '506115' then 'Fidelity Bank'
when '506114' then 'FCMB (First Inland Bank)'
when '506138' then 'FCMB (FinBank_FLASHWALLET )'
when '506105' then 'First Bank of Nigeria'
when '506111' then 'FBN Micro Finance Bank Limited'
when '506145' then 'First Bank Plc (Nigeria)--- Settlement Cards'
when '506103' then 'Guaranty Trust Bank'
when '506101' then 'Access Bank (Intercontinental)'
when '506122' then 'EcoBank (Oceanic Bank)'
when '506113' then 'Olive Microfinanace Bank'
when '506110' then 'Key stone'
when '506112' then 'Satelite Microfinance Bank Limited'
when '506106' then 'Skye Bank( Old Prudent Bank)'
when '506120' then 'Stanbic IBTC Bank ( former IBTC Chartered Bank)'
when '506136' then 'stanbic ibtc bank(mobile wallet cards)'
when '506107' then 'Sterling Bank'
when '506135' then 'Sterling Bank_Subsidiary'
when '506148' then 'Sterling Bank Ohafia Micro Finance Bank'
when '506147' then 'bank'
when '506142' then 'Sterling Bank_Nig.police force'
when '506123' then 'Union Bank'
when '506134' then 'Union Bank(former Universal Trust Bank)'
when '506102' then 'United Bank for Africa'
when '506117' then 'Unity Bank'
when '506119' then 'Wema Bank'
when '506109' then 'Zenith International Bank'
when '506137' then 'jaiz bank'
when '506133' then 'Resort Savings and Loans'
when '506141' then 'Post service homes'
when '506139' then 'Ininity homes'
when '506143' then 'Accion MFB'
when '539945' then 'Accion MFB'
when '506140' then 'Kakawa Discount House(First Bank)'
when '506144' then 'Ekondo Microfinance Bank Limited'
when '506146' then 'United Mortgage Limited'
when '512934' then 'HERITAGE Bank'
when '506116' then 'HERITAGE Bank'
when '517058' then 'HERITAGE Bank'
when '518304' then 'HERITAGE Bank'
when '523776' then 'HERITAGE Bank'
when '523740' then 'HERITAGE Bank'
when '537610' then 'HERITAGE Bank'
when '528668' then 'HERITAGE Bank'
when '506150' then 'HERITAGE Bank'
when '516195' then 'HERITAGE Bank'
else 'Bank Card Not Listed'
end [IssuerName],
case
when (tran_type='50' and extended_tran_type IS NOT NULL) then 'Inter'
when (tran_type='50' and extended_tran_type IS NULL) then 'Intra'
end TransactionType1
FROM post_tran a (nolock)INNER JOIN post_tran_cust b(nolock)
ON a.post_tran_cust_id = b.post_tran_cust_id
where tran_postilion_originated = '0'
--and tran_amount_rsp > 0
--order by a.datetime_tran_local

--where date_local between '0404' and '0410'
--where datetime_tran_local between '2022-06-23 00:00:00:00' and '2022-06-23 23:59:59:99'
--and b.pan not like 'null'
--and a.rsp_code_rsp = '00'
--and a.rsp_code_req_rsp = '00'
--and tran_type = '01'
--and tran_type in ('00','01','21','52','50')
--and b.terminal_id like '1030%'
--and a.message_type in ('0420','0421')
--and extended_tran_type is null


--FBN Mortgage Get Inward Transaction from Oracle Core View

create or replace view NibssInwardTranBankFbnM as
select Id, SESSION_ID SessionId,NAME_ENQUIRY_REF nameInquiryRef, SOURCE_INSTITUTION	 SOURCEINSTITUTION,
       CHANNEL_CODE CHANNELCODE, STATUS, C24_RESP	C24RESP, ENTRY_DATE	 ENTRYDATE, TXN_DETAILS	TXNDETAILS,
       AMOUNT, ACCOUNT_NUMBER	BeneficiaryACCOUNTNUMBER, AC_DESC BeneficiaryACCOUNTName
from NibssTranBankTbl;

--FBN Mortgage Get Outward Transaction from Sql Server Core View
create view NibssOutwardTranBankFbnM as
select customer_account_number as SourceAccountNumber,
       date_changed as TransactionDate,
       customer_account_name as SourceAccountName,
       amount as Amount,
       financial_institution_id as FinancialInstitutionId,
       beneficiary_account_number as BeneficiaryAccountNumber,
       beneficiary_account_name as BeneficiaryAccountName,
       name_enquiry_ref as NameInquiryRef,
       remarks as Remarks,
       payment_reference as PaymentReference,
       narration as Narration,
       session_id as SessionId
from NibssTranBankTbl2
